.login-container {
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 50%;
    padding: 1.5rem;
}
.titleContainer {
    font-size: large;
}
.input-login {
    width: 60% !important;
}

.errorLabel {
    color: crimson;
}